@font-face {
  font-family: "Aurora";
  src: url(assets/Aurora.otf);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Gideon Roman", cursive;
  font-weight: 700;
}

body {
  background: rgb(22, 22, 22);
  background: linear-gradient(
    90deg,
    rgba(22, 22, 22, 1) 0%,
    rgba(193, 135, 68, 1) 31%,
    rgba(196, 114, 79, 1) 65%,
    rgba(159, 121, 68, 1) 72%,
    rgba(143, 108, 86, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

section {
  display: block;
  text-align: center;
  height: 600px;
}

h1 {
  font-size: 40px;
  margin-bottom: 45px;
  color: rgb(49, 38, 38);
  font-family: "Aurora", sans-serif;
}

.clock {
  width: 300px;
  height: 300px;
  background-color: rgb(237, 237, 237);
  border-radius: 50%;
  border: 20px solid rgb(92, 45, 14);
  position: relative;
}

.clock .number {
  --rotation: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.2rem;
}

.clock .number1 {
  --rotation: 30deg;
}

.clock .number2 {
  --rotation: 60deg;
}

.clock .number3 {
  --rotation: 90deg;
}

.clock .number4 {
  --rotation: 120deg;
}

.clock .number5 {
  --rotation: 150deg;
}

.clock .number6 {
  --rotation: 180deg;
}

.clock .number7 {
  --rotation: 210deg;
}

.clock .number8 {
  --rotation: 240deg;
}

.clock .number9 {
  --rotation: 270deg;
}

.clock .number10 {
  --rotation: 300deg;
}

.clock .number11 {
  --rotation: 330deg;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: "";
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock .hand.second {
  width: 3px;
  height: 45%;
  background-color: red;
}

.clock .hand.minute {
  width: 7px;
  height: 40%;
  background-color: black;
}
.clock .hand.hour {
  width: 10px;
  height: 35%;
  background-color: black;
}

@media (max-width: 550px) {
  .clock {
    width: 250px;
    height: 250px;
    margin: auto;
  }
  .clock .number {
    font-size: 1.2rem;
  }
  .clock {
    border: 10px solid rgb(92, 45, 14);
  }
}

@media (max-width: 470px) {
  h1 {
    font-size: 30px;
  }
}
